workflows/wf_inbox_classifier.json
{
  "name": "wf_inbox_classifier",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbox-classifier",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_Inbox",
      "name": "Inbox Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1320,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body && typeof $json.body === 'object' ? $json.body : $json;\nconst from = (payload.from ?? payload.from_email ?? '').toString().trim();\nconst subjectRaw = (payload.subject ?? '').toString().trim();\nconst bodyRaw = (payload.body ?? '').toString().trim();\nconst subject = subjectRaw.replace(/^(re:|fwd:|fw:)\\s*/i, '').replace(/\\s+/g, ' ').trim();\nconst body = bodyRaw.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').replace(/\\s+/g, ' ').trim().slice(0, 4000);\nconst combined = `${subject}\\n${body}`.toLowerCase();\nconst highRiskKeywords = ['soc 2', 'hipaa', 'baa', 'gdpr', 'dpa', 'contract', 'legal', 'security', 'encryption', 'breach', 'vulnerability', 'pentest', 'penetration test', 'invoice dispute', 'refund', 'discount', 'enterprise plan', 'custom quote'];\nconst isHighRisk = highRiskKeywords.some((keyword) => combined.includes(keyword));\nconst lexicalMultiIntent = /(also|another question|one more thing|as well as|and separately)\\b/i.test(`${subject}\\n${body}`);\nreturn [{\n  from,\n  subject,\n  body,\n  query_text: `Subject: ${subject}\\nBody: ${body}`,\n  is_high_risk: isHighRisk,\n  lexical_multi_intent: lexicalMultiIntent,\n  received_at: new Date().toISOString()\n}];"
      },
      "id": "Code_Normalize",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = `${$json.subject}\\n${$json.body}`.toLowerCase();\nlet fastPath = false;\nlet category = '';\nlet routeTeam = 'support';\nlet needsEscalation = false;\nlet draftReply = '';\n\nif (/\\b(statement|checking account|bank account|monthly checking)\\b/.test(text)) {\n  fastPath = true;\n  category = 'Misdirected / Wrong Recipient';\n  routeTeam = 'none';\n  needsEscalation = false;\n  draftReply = 'Thanks for your message. This inbox belongs to Nexus Integrations support and appears to be the wrong recipient.';\n} else if (/\\b(recruiter|candidates available|schedule a call)\\b/.test(text)) {\n  fastPath = true;\n  category = 'Spam / Vendor Solicitation';\n  routeTeam = 'none';\n  needsEscalation = false;\n  draftReply = 'Thank you for reaching out. We are not exploring recruiter/vendor solicitations through this support channel at the moment.';\n}\n\nreturn [{ ...$json, fast_path: fastPath, fast_path_output: {\n  category,\n  draft_reply: draftReply,\n  confidence: fastPath ? 0.98 : 0,\n  needs_escalation: needsEscalation,\n  route_team: routeTeam,\n  evidence_refs: ['regex_fast_path']\n}}];"
      },
      "id": "Code_RuleSignals",
      "name": "Regex Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fast-path",
              "leftValue": "={{$json.fast_path}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_FastPath",
      "name": "Fast Path?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -620,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fp-output",
              "name": "output",
              "value": "={{$json.fast_path_output}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "Set_FastPathOutput",
      "name": "Set Fast Path Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EMBEDDING_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'text-embedding-3-small', input: $json.query_text } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "Http_Embed",
      "name": "Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "Merge_EmbedContext",
      "name": "Merge Embed Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -140,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const vector = $json.data?.[0]?.embedding ?? [];\nconst prior = { ...$json };\ndelete prior.data;\nreturn [{ ...prior, embedding_vector: vector }];"
      },
      "id": "Code_ExtractEmbedding",
      "name": "Extract Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VECTOR_SEARCH_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { namespace: 'examples', vector: $json.embedding_vector, top_k: 8, include_metadata: true } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "Http_RetrieveExamples",
      "name": "Retrieve Examples",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "Merge_RetrievalContext",
      "name": "Merge Retrieval Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        340,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const matches = Array.isArray($json.matches ?? $json.data) ? ($json.matches ?? $json.data) : [];\nconst toNumber = (value, fallback = 0) => {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n};\nconst clamp = (value) => {\n  const numeric = toNumber(value);\n  return Math.max(0, Math.min(1, Number(numeric.toFixed(4))));\n};\nconst pickCategory = (match) => (match?.metadata?.normalized_category ?? match?.metadata?.category ?? match?.metadata?.label ?? match?.category ?? '').toString().trim();\nconst top1 = toNumber(matches?.[0]?.score);\nconst top2 = toNumber(matches?.[1]?.score);\nconst rerank = toNumber(matches?.[0]?.rerank_score, top1);\nconst margin = Math.max(0, top1 - top2);\nconst score = clamp((0.5 * top1) + (0.3 * margin) + (0.2 * rerank));\nconst topCategories = matches.slice(0, 3).map(pickCategory).filter(Boolean);\nconst uniqueTopCategories = [...new Set(topCategories)];\nconst noveltySignals = [];\nif (top1 < 0.72) noveltySignals.push('low_sim_top1');\nif (margin < 0.05) noveltySignals.push('small_margin');\nif (rerank < 0.68) noveltySignals.push('low_rerank');\nif (uniqueTopCategories.length > 1) noveltySignals.push('mixed_top_categories');\nconst noveltyDetected = noveltySignals.length >= 2;\nconst ambiguousRetrieval = margin < 0.08 || uniqueTopCategories.length > 1;\nreturn [{\n  ...$json,\n  retrieved_examples: matches.slice(0, 3),\n  retrieval_primary_category: topCategories[0] ?? '',\n  retrieval_top_categories: uniqueTopCategories,\n  sim_top1: top1,\n  sim_top2: top2,\n  rerank_score: rerank,\n  retrieval_margin: clamp(margin),\n  confidence_score: score,\n  retrieval_novelty_signals: noveltySignals,\n  novelty_detected: noveltyDetected,\n  ambiguous_retrieval: ambiguousRetrieval,\n  should_use_tier2: Boolean($json.is_high_risk) || Boolean($json.lexical_multi_intent) || noveltyDetected || score < 0.82\n}];"
      },
      "id": "Code_Confidence",
      "name": "Compute Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "use-tier2",
              "leftValue": "={{$json.should_use_tier2}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_Tier",
      "name": "Use Tier2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        580,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.LLM_CLASSIFIER_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4.1-mini', input: { system: 'Classify email into one primary Nexus category and return JSON only with category, up to 3 category_candidates, optional secondary_categories, risk_tags, route_team, needs_escalation, reasoning_short, and confidence. Retrieved example candidates are similarity hints only, not authoritative facts. Prefer escalation for legal, security, compliance, pricing negotiation, billing disputes, mixed-intent emails, or unclear policy coverage.', email: { from: $json.from, subject: $json.subject, body: $json.body }, candidates: $json.retrieved_examples, retrieval_primary_category: $json.retrieval_primary_category, novelty_signals: $json.retrieval_novelty_signals ?? [] } } }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "Http_LlmTier1",
      "name": "LLM Classifier Tier1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        540
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.LLM_CLASSIFIER_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4.1', input: { system: 'Classify this potentially high-risk email into one primary Nexus category and return JSON only with category, up to 3 category_candidates, optional secondary_categories, risk_tags, route_team, needs_escalation, reasoning_short, and confidence. Retrieved example candidates are similarity hints only, not authoritative facts. Be conservative: if the case is legal, security, compliance, contract, billing dispute, pricing negotiation, unknown-policy, or mixed-intent, prefer escalation.', email: { from: $json.from, subject: $json.subject, body: $json.body }, candidates: $json.retrieved_examples, retrieval_primary_category: $json.retrieval_primary_category, novelty_signals: $json.retrieval_novelty_signals ?? [] } } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "Http_LlmTier2",
      "name": "LLM Classifier Tier2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? $json.response ?? $json;\nlet parsed = raw;\nif (typeof raw === 'string') {\n  try {\n    parsed = JSON.parse(raw);\n  } catch {\n    parsed = {};\n  }\n}\nconst toNumber = (value, fallback = 0) => {\n  const numeric = Number(value);\n  return Number.isFinite(numeric) ? numeric : fallback;\n};\nconst clamp = (value) => Math.max(0, Math.min(1, Number(toNumber(value).toFixed(4))));\nconst asStringArray = (value) => Array.isArray(value) ? value.map((item) => item.toString().trim()).filter(Boolean) : [];\nconst asCandidateArray = (value) => Array.isArray(value)\n  ? value\n      .map((candidate) => ({\n        label: (candidate?.label ?? candidate?.category ?? '').toString().trim(),\n        score: clamp(candidate?.score ?? candidate?.confidence ?? 0)\n      }))\n      .filter((candidate) => candidate.label)\n  : [];\nconst defaultRouteByCategory = {\n  'Setup Question': 'support',\n  'Security Question': 'security',\n  'Pricing Question': 'sales',\n  'Job Application / HR': 'people',\n  'Partnership / Business Development': 'sales',\n  'Spam / Vendor Solicitation': 'none',\n  'Billing / Finance': 'finance',\n  'Contract / Legal': 'legal',\n  'Misdirected / Wrong Recipient': 'none',\n  'Legal / Compliance': 'legal'\n};\nconst thresholds = {\n  __default: { autoReply: 0.82, humanReview: 0.68, minEvidenceItems: 2, minTopEvidenceScore: 0.74 },\n  'Setup Question': { autoReply: 0.82, humanReview: 0.68, minEvidenceItems: 2, minTopEvidenceScore: 0.74 },\n  'Security Question': { autoReply: 0.88, humanReview: 0.76, minEvidenceItems: 2, minTopEvidenceScore: 0.8 },\n  'Pricing Question': { autoReply: 0.86, humanReview: 0.72, minEvidenceItems: 1, minTopEvidenceScore: 0.76 },\n  'Spam / Vendor Solicitation': { autoReply: 0.9, humanReview: 0.7, minEvidenceItems: 0, minTopEvidenceScore: 0 },\n  'Misdirected / Wrong Recipient': { autoReply: 0.9, humanReview: 0.7, minEvidenceItems: 0, minTopEvidenceScore: 0 }\n};\n/* SYNC: knowledgePolicies must stay in sync with src/config/structured_knowledge.json category_policies */\nconst knowledgePolicies = {\n  __default: { sourceMode: 'hybrid', requiresStructuredFacts: false, requiresKbLookup: true, requiredFactSets: [] },\n  'Setup Question': { sourceMode: 'hybrid', requiresStructuredFacts: false, requiresKbLookup: true, requiredFactSets: ['integration_catalog', 'setup_prerequisites'] },\n  'Security Question': { sourceMode: 'structured_first', requiresStructuredFacts: true, requiresKbLookup: true, requiredFactSets: ['security_capability_matrix', 'trust_policy_register', 'security_contact_policy'] },\n  'Pricing Question': { sourceMode: 'structured_first', requiresStructuredFacts: true, requiresKbLookup: false, requiredFactSets: ['plan_catalog', 'pricing_policy', 'sales_handoff_policy'] },\n  'Job Application / HR': { sourceMode: 'review_only', requiresStructuredFacts: false, requiresKbLookup: false, requiredFactSets: [] },\n  'Partnership / Business Development': { sourceMode: 'review_only', requiresStructuredFacts: false, requiresKbLookup: false, requiredFactSets: [] },\n  'Spam / Vendor Solicitation': { sourceMode: 'no_lookup', requiresStructuredFacts: false, requiresKbLookup: false, requiredFactSets: [] },\n  'Billing / Finance': { sourceMode: 'review_only', requiresStructuredFacts: false, requiresKbLookup: false, requiredFactSets: [] },\n  'Contract / Legal': { sourceMode: 'review_only', requiresStructuredFacts: false, requiresKbLookup: false, requiredFactSets: [] },\n  'Misdirected / Wrong Recipient': { sourceMode: 'no_lookup', requiresStructuredFacts: false, requiresKbLookup: false, requiredFactSets: [] },\n  'Legal / Compliance': { sourceMode: 'review_only', requiresStructuredFacts: false, requiresKbLookup: false, requiredFactSets: [] }\n};\nconst blockedAutoReplyCategories = new Set(['Job Application / HR', 'Partnership / Business Development', 'Billing / Finance', 'Contract / Legal', 'Legal / Compliance']);\nconst reviewRiskTags = new Set(['legal', 'security', 'compliance', 'pricing_negotiation', 'billing_dispute', 'unknown_policy_gap', 'contract_request', 'incident_report']);\nconst category = (parsed.category ?? $json.retrieval_primary_category ?? 'Setup Question').toString().trim() || 'Setup Question';\nconst categoryCandidates = asCandidateArray(parsed.category_candidates).sort((left, right) => right.score - left.score).slice(0, 3);\nif (!categoryCandidates.some((candidate) => candidate.label === category)) {\n  categoryCandidates.unshift({ label: category, score: clamp(parsed.confidence ?? $json.confidence_score ?? 0.5) });\n}\nconst trimmedCandidates = categoryCandidates.slice(0, 3);\nlet secondaryCategories = asStringArray(parsed.secondary_categories).filter((item) => item !== category).slice(0, 2);\nif (!secondaryCategories.length && trimmedCandidates.length > 1 && trimmedCandidates[1].score >= 0.45) {\n  secondaryCategories = [trimmedCandidates[1].label];\n}\nconst riskTags = [...new Set(asStringArray(parsed.risk_tags).concat($json.lexical_multi_intent ? ['multi_intent'] : []))];\nconst routeTeam = (parsed.route_team ?? defaultRouteByCategory[category] ?? 'support').toString();\nconst selectedThresholds = thresholds[category] ?? thresholds.__default;\nconst selectedKnowledgePolicy = knowledgePolicies[category] ?? knowledgePolicies.__default;\nconst retrievalPrimaryCategory = ($json.retrieval_primary_category ?? '').toString().trim();\nconst retrievalAgreement = !retrievalPrimaryCategory || retrievalPrimaryCategory === category || secondaryCategories.includes(retrievalPrimaryCategory) || trimmedCandidates.some((candidate) => candidate.label === retrievalPrimaryCategory && candidate.score >= 0.45);\nconst candidateMargin = trimmedCandidates.length > 1 ? Math.max(0, trimmedCandidates[0].score - trimmedCandidates[1].score) : trimmedCandidates[0]?.score ?? 0;\nconst multiIntent = Boolean($json.lexical_multi_intent) || secondaryCategories.length > 0 || (trimmedCandidates.length > 1 && candidateMargin < 0.12) || riskTags.includes('multi_intent');\nlet categoryConfidence = Math.max(clamp(parsed.confidence ?? 0), clamp($json.confidence_score ?? 0));\ncategoryConfidence += Math.min(0.08, candidateMargin * 0.4);\nif (!retrievalAgreement) categoryConfidence -= 0.12;\nif (Boolean($json.novelty_detected)) categoryConfidence -= 0.1;\nif (Boolean($json.ambiguous_retrieval)) categoryConfidence -= 0.08;\nif (multiIntent) categoryConfidence -= 0.08;\ncategoryConfidence = clamp(categoryConfidence);\nconst escalationReasons = [];\nif (Boolean(parsed.needs_escalation)) escalationReasons.push('classifier_requested_escalation');\nif (blockedAutoReplyCategories.has(category)) escalationReasons.push('category_blocked_for_auto_reply');\nif (Boolean($json.is_high_risk)) escalationReasons.push('keyword_high_risk');\nif (riskTags.some((tag) => reviewRiskTags.has(tag))) escalationReasons.push('risk_tag_requires_review');\nif (!retrievalAgreement) escalationReasons.push('retrieval_classifier_disagreement');\nif (Boolean($json.novelty_detected)) escalationReasons.push('novel_case');\nif (Boolean($json.ambiguous_retrieval)) escalationReasons.push('ambiguous_retrieval');\nif (multiIntent) escalationReasons.push('multi_intent');\nif (categoryConfidence < selectedThresholds.autoReply) escalationReasons.push('below_auto_reply_threshold');\nif (categoryConfidence < selectedThresholds.humanReview) escalationReasons.push('low_category_confidence');\nconst replyQueryText = `${$json.query_text}\\nPredicted category: ${category}` + (secondaryCategories.length ? `\\nSecondary intents: ${secondaryCategories.join(', ')}` : '');\nreturn [{\n  ...$json,\n  category,\n  category_candidates: trimmedCandidates,\n  secondary_categories: secondaryCategories,\n  risk_tags: riskTags,\n  route_team: routeTeam,\n  needs_escalation: escalationReasons.length > 0,\n  confidence: categoryConfidence,\n  category_confidence: categoryConfidence,\n  auto_reply_threshold: selectedThresholds.autoReply,\n  human_review_threshold: selectedThresholds.humanReview,\n  min_kb_evidence_items: selectedThresholds.minEvidenceItems,\n  min_kb_top_score: selectedThresholds.minTopEvidenceScore,\n  retrieval_agreement: retrievalAgreement,\n  knowledge_source_preference: selectedKnowledgePolicy.sourceMode,\n  requires_structured_facts: selectedKnowledgePolicy.requiresStructuredFacts,\n  requires_kb_lookup: selectedKnowledgePolicy.requiresKbLookup,\n  required_fact_sets: selectedKnowledgePolicy.requiredFactSets,\n  grounding_evidence: [],\n  escalation_reasons: [...new Set(escalationReasons)],\n  reply_query_text: replyQueryText\n}];"
      },
      "id": "Code_ParseClassifier",
      "name": "Parse Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-review",
              "leftValue": "={{$json.needs_escalation}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_Review",
      "name": "Needs Human Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        420
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "name",
          "value": "wf_human_review_queue"
        },
        "mode": "runOnceForEachItem",
        "options": {}
      },
      "id": "Exec_HumanReview",
      "name": "Queue Human Review",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.STRUCTURED_LOOKUP_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { category: $json.category, secondary_categories: $json.secondary_categories ?? [], risk_tags: $json.risk_tags ?? [], route_team: $json.route_team, source_mode: $json.knowledge_source_preference ?? 'hybrid', required_fact_sets: $json.required_fact_sets ?? [], email: { from: $json.from, subject: $json.subject, body: $json.body } } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "Http_StructuredLookup",
      "name": "Lookup Structured Facts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        540
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "/* Upstream: Parse Classifier - do not depend on API response echo */\nconst base = $('Parse Classifier').item.json;\nconst isError = Boolean($json.error);\nconst response = isError ? {} : $json;\nconst rawFacts = isError ? [] : (Array.isArray(response.facts) ? response.facts : Array.isArray(response.data?.facts) ? response.data.facts : []);\nconst toNumber = (value, fallback = 0) => {\n  const numeric = Number(value);\n  return Number.isFinite(numeric) ? numeric : fallback;\n};\nconst clamp = (value) => Math.max(0, Math.min(1, Number(toNumber(value).toFixed(4))));\nconst requiredFactSets = Array.isArray(base.required_fact_sets) ? base.required_fact_sets : [];\nconst sourceMode = (base.knowledge_source_preference ?? 'hybrid').toString();\nconst coverage = clamp(response.coverage ?? response.data?.coverage ?? (rawFacts.length ? Math.min(1, rawFacts.length / Math.max(1, requiredFactSets.length || rawFacts.length)) : 0));\nconst answerable = Boolean(response.answerable ?? response.data?.answerable ?? rawFacts.length > 0);\nconst requiresDocumentRetrieval = Boolean(response.requires_document_retrieval ?? response.data?.requires_document_retrieval ?? base.requires_kb_lookup ?? false);\nconst structuredEvidence = rawFacts.slice(0, 5).map((fact, index) => ({\n  id: (fact?.id ?? `structured_${index + 1}`).toString(),\n  type: 'structured_fact',\n  title: (fact?.title ?? fact?.name ?? `Structured fact ${index + 1}`).toString(),\n  content: (fact?.value ?? fact?.content ?? JSON.stringify(fact)).toString(),\n  source_ref: (fact?.source_ref ?? fact?.source ?? 'structured_lookup').toString(),\n  score: clamp(fact?.confidence ?? coverage || 0.85)\n}));\nconst needsKbLookup = isError || (sourceMode !== 'no_lookup' && (requiresDocumentRetrieval || !answerable || (Boolean(base.requires_structured_facts) && structuredEvidence.length === 0)));\nconst escalationReasons = Array.isArray(base.escalation_reasons) ? [...base.escalation_reasons] : [];\nif (isError) escalationReasons.push('structured_lookup_failed');\nif (Boolean(base.requires_structured_facts) && structuredEvidence.length === 0) escalationReasons.push('missing_structured_facts');\nif (!answerable && sourceMode !== 'no_lookup') escalationReasons.push('structured_lookup_inconclusive');\nreturn [{\n  ...base,\n  structured_facts: structuredEvidence,\n  structured_fact_ids: structuredEvidence.map((fact) => fact.id),\n  structured_fact_coverage: coverage,\n  structured_answerable: answerable,\n  requires_kb_lookup: needsKbLookup,\n  evidence_confidence: structuredEvidence.length ? coverage : 0,\n  reply_strategy: !needsKbLookup && structuredEvidence.length ? 'structured_grounded_reply' : (base.reply_strategy ?? 'grounded_reply'),\n  grounding_evidence: structuredEvidence,\n  needs_escalation: escalationReasons.length > 0 || Boolean(base.needs_escalation),\n  escalation_reasons: [...new Set(escalationReasons)]\n}];"
      },
      "id": "Code_AssessStructuredFacts",
      "name": "Assess Structured Facts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-kb-after-structured",
              "leftValue": "={{$json.requires_kb_lookup}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_StructuredNeedsKb",
      "name": "Structured Needs KB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2020,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VECTOR_SEARCH_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { namespace: 'kb_policy', query_text: $json.reply_query_text ?? $json.query_text, top_k: 4, include_metadata: true, category: $json.category, structured_fact_ids: $json.structured_fact_ids ?? [] } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "Http_RetrieveKB",
      "name": "Retrieve Document Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2260,
        540
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "/* Upstream: Assess Structured Facts - do not depend on API response echo */\nconst upstream = $('Assess Structured Facts').item.json;\nconst documentMatches = Array.isArray($json.matches ?? $json.data) ? ($json.matches ?? $json.data) : [];\nconst structuredEvidence = Array.isArray(upstream.grounding_evidence) ? upstream.grounding_evidence : [];\nconst toNumber = (value, fallback = 0) => {\n  const numeric = Number(value);\n  return Number.isFinite(numeric) ? numeric : fallback;\n};\nconst clamp = (value) => Math.max(0, Math.min(1, Number(toNumber(value).toFixed(4))));\nconst normalizedDocumentEvidence = documentMatches.slice(0, 4).map((match, index) => ({\n  id: (match?.id ?? match?.metadata?.id ?? `kb_${index + 1}`).toString(),\n  type: 'document_chunk',\n  title: (match?.metadata?.title ?? match?.metadata?.section ?? `KB evidence ${index + 1}`).toString(),\n  content: (match?.text ?? match?.metadata?.text ?? match?.metadata?.excerpt ?? '').toString(),\n  source_ref: (match?.metadata?.source_url ?? match?.metadata?.source_ref ?? 'kb_policy').toString(),\n  score: clamp(match?.score ?? match?.similarity ?? match?.rerank_score)\n}));\nconst topDocScore = toNumber(documentMatches?.[0]?.score ?? documentMatches?.[0]?.similarity ?? documentMatches?.[0]?.rerank_score);\nconst topEvidenceScore = Math.max(clamp(upstream.structured_fact_coverage ?? 0), clamp(topDocScore));\nconst combinedEvidence = structuredEvidence.concat(normalizedDocumentEvidence);\nconst evidenceCount = combinedEvidence.length;\nconst minEvidenceItems = Math.max(0, Math.trunc(toNumber(upstream.min_kb_evidence_items, 2)));\nconst minTopEvidenceScore = clamp(upstream.min_kb_top_score ?? 0.72);\nconst evidenceConfidence = evidenceCount === 0 ? 0 : clamp((0.75 * topEvidenceScore) + (0.25 * (Math.min(evidenceCount, 3) / 3)));\nconst escalationReasons = Array.isArray(upstream.escalation_reasons) ? [...upstream.escalation_reasons] : [];\nconst evidenceInsufficient = evidenceCount < minEvidenceItems || topEvidenceScore < minTopEvidenceScore;\nif (evidenceInsufficient) escalationReasons.push('insufficient_grounding_evidence');\nreturn [{\n  ...upstream,\n  kb_matches: normalizedDocumentEvidence,\n  kb_evidence_count: normalizedDocumentEvidence.length,\n  kb_top_score: clamp(topDocScore),\n  evidence_confidence: evidenceConfidence,\n  grounding_evidence: combinedEvidence.slice(0, 6),\n  needs_escalation: Boolean(upstream.needs_escalation) || evidenceInsufficient,\n  escalation_reasons: [...new Set(escalationReasons)],\n  reply_strategy: evidenceInsufficient ? 'acknowledge_and_escalate' : (structuredEvidence.length ? 'hybrid_grounded_reply' : 'document_grounded_reply')\n}];"
      },
      "id": "Code_AssessKbEvidence",
      "name": "Assess Grounding Evidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "kb-needs-review",
              "leftValue": "={{$json.needs_escalation}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_KbReview",
      "name": "Grounding Requires Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2740,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.LLM_REPLY_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4.1-mini', input: { system: 'Draft grounded reply using provided grounding evidence only. Evidence may include structured facts and retrieved policy excerpts. Return JSON with draft_reply, used_evidence_ids, and grounding_ok. If reply_strategy is acknowledge_and_escalate or the evidence cannot support every material claim, write a short acknowledgment, state that the request is being routed to the right team, and set grounding_ok to false.', email: { from: $json.from, subject: $json.subject, body: $json.body }, category: $json.category, secondary_categories: $json.secondary_categories ?? [], risk_tags: $json.risk_tags ?? [], reply_strategy: $json.reply_strategy ?? 'grounded_reply', evidence: $json.grounding_evidence ?? $json.structured_facts ?? $json.kb_matches ?? $json.matches ?? $json.data ?? [] } } }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "Http_Reply",
      "name": "LLM Reply Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2980,
        660
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? $json.response ?? $json;\nlet parsed = raw;\nif (typeof raw === 'string') {\n  try { parsed = JSON.parse(raw); } catch { parsed = {}; }\n}\nconst asStringArray = (value) => Array.isArray(value) ? value.map((item) => item.toString()) : [];\nconst evidenceIds = asStringArray(parsed.used_evidence_ids);\nconst fallbackEvidenceIds = Array.isArray($json.grounding_evidence)\n  ? $json.grounding_evidence.slice(0, 3).map((evidence, index) => (evidence?.id ?? `evidence_${index + 1}`).toString())\n  : [];\nconst escalationReasons = Array.isArray($json.escalation_reasons) ? [...$json.escalation_reasons] : [];\nconst groundingOk = parsed.grounding_ok !== false;\nif (!groundingOk) escalationReasons.push('reply_grounding_not_confirmed');\nconst needsEscalation = Boolean($json.needs_escalation) || !groundingOk;\nreturn [{\n  category: $json.category,\n  draft_reply: parsed.draft_reply ?? (needsEscalation ? 'Thanks for your message. We are routing your request to the right team for confirmation.' : 'Thanks for your email. Here is the guidance we can provide based on our verified sources.'),\n  confidence: $json.confidence ?? $json.category_confidence ?? $json.confidence_score ?? 0.5,\n  category_confidence: $json.category_confidence ?? $json.confidence ?? 0.5,\n  evidence_confidence: $json.evidence_confidence ?? 0,\n  needs_escalation: needsEscalation,\n  route_team: $json.route_team ?? 'support',\n  evidence_refs: evidenceIds.length ? evidenceIds : fallbackEvidenceIds,\n  secondary_categories: $json.secondary_categories ?? [],\n  risk_tags: $json.risk_tags ?? [],\n  escalation_reasons: [...new Set(escalationReasons)]\n}];"
      },
      "id": "Code_FormatMain",
      "name": "Format Main Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  category: $json.category ?? $json.fast_path_output?.category ?? 'Setup Question',\n  draft_reply: 'Thanks for your message. Your request has been escalated to a human reviewer for confirmation.',\n  confidence: $json.confidence ?? $json.category_confidence ?? $json.confidence_score ?? 0.5,\n  category_confidence: $json.category_confidence ?? $json.confidence ?? $json.confidence_score ?? 0.5,\n  evidence_confidence: $json.evidence_confidence ?? 0,\n  needs_escalation: true,\n  route_team: $json.route_team ?? 'support',\n  evidence_refs: ['human_review_queue'],\n  secondary_categories: $json.secondary_categories ?? [],\n  risk_tags: $json.risk_tags ?? [],\n  escalation_reasons: $json.escalation_reasons ?? ['human_review_queue']\n}];"
      },
      "id": "Code_FormatEscalation",
      "name": "Format Escalation Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [$json.output];"
      },
      "id": "Code_FastUnwrap",
      "name": "Fast Output Unwrap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "Respond_Webhook",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        2260,
        360
      ]
    }
  ],
  "connections": {
    "Inbox Webhook": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Regex Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex Signals": {
      "main": [
        [
          {
            "node": "Fast Path?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fast Path?": {
      "main": [
        [
          {
            "node": "Set Fast Path Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embed Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Embed Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fast Path Output": {
      "main": [
        [
          {
            "node": "Fast Output Unwrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fast Output Unwrap": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Query": {
      "main": [
        [
          {
            "node": "Merge Embed Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Embed Context": {
      "main": [
        [
          {
            "node": "Extract Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Embedding": {
      "main": [
        [
          {
            "node": "Retrieve Examples",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Retrieval Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Examples": {
      "main": [
        [
          {
            "node": "Merge Retrieval Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Retrieval Context": {
      "main": [
        [
          {
            "node": "Compute Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Confidence": {
      "main": [
        [
          {
            "node": "Use Tier2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Tier2?": {
      "main": [
        [
          {
            "node": "LLM Classifier Tier2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Classifier Tier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Classifier Tier1": {
      "main": [
        [
          {
            "node": "Parse Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Classifier Tier2": {
      "main": [
        [
          {
            "node": "Parse Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classifier": {
      "main": [
        [
          {
            "node": "Needs Human Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Human Review?": {
      "main": [
        [
          {
            "node": "Queue Human Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup Structured Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Human Review": {
      "main": [
        [
          {
            "node": "Format Escalation Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Structured Facts": {
      "main": [
        [
          {
            "node": "Assess Structured Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess Structured Facts": {
      "main": [
        [
          {
            "node": "Structured Needs KB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Needs KB?": {
      "main": [
        [
          {
            "node": "Retrieve Document Evidence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grounding Requires Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Document Evidence": {
      "main": [
        [
          {
            "node": "Assess Grounding Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess Grounding Evidence": {
      "main": [
        [
          {
            "node": "Grounding Requires Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grounding Requires Review?": {
      "main": [
        [
          {
            "node": "Queue Human Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Reply Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Reply Draft": {
      "main": [
        [
          {
            "node": "Format Main Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Main Output": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Escalation Output": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "1",
  "triggerCount": 0,
  "tags": []
}
